In [1]:
# All imports
import pandas as pd
import numpy as np

**Data Structures in "pandas"**

* Series is a one-dimensional labeled array capable of holding any data type

* DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

# Input/Output

In [2]:
# Pandas support a lot of formats as input like json, csv, text, html, etc. 
# Here we will be taking the input as csv [comma seperated values].
# we can also use various parameters in read_csv like parse_dates [parses string date values]

ts_data = pd.read_csv("data/stock_data.csv")

In [3]:
# A look at the head of the dataframe
ts_data.head()

       date     AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
0  10/29/07  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
1  10/30/07  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2  10/31/07  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
3  11/01/07  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
4  11/02/07  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32

In [4]:
#lets check the datatypes of columns in dataframe

ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
date    1000 non-null object
AA      1000 non-null float64
AAPL    1000 non-null float64
GE      1000 non-null float64
IBM     1000 non-null float64
JNJ     1000 non-null float64
MSFT    1000 non-null float64
PEP     1000 non-null float64
SPX     1000 non-null float64
XOM     1000 non-null float64
dtypes: float64(9), object(1)
memory usage: 78.2+ KB

### A Quick look at pandas data types

![dtypes](images/pandas_dtypes.png)

In [5]:
ts_data.describe()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,17.138190,217.386950,18.362250,122.687010,58.228900,24.947840,59.607930,1153.729090,71.513700
std,9.108915,90.627523,6.168905,26.797665,4.515169,3.746426,6.531849,183.562134,8.131698
min,5.100000,78.200000,6.190000,68.140000,42.760000,14.330000,42.460000,676.530000,54.850000
25%,11.027500,142.965000,14.690000,102.200000,55.867500,23.570000,56.535000,1048.495000,65.065000
50%,13.470000,193.970000,16.085000,120.340000,58.960000,25.375000,61.720000,1165.770000,70.905000
75%,17.427500,302.777500,20.282500,137.597500,61.110000,27.250000,63.785000,1306.157500,79.222500
max,41.860000,422.000000,34.970000,190.530000,67.320000,34.070000,71.250000,1549.380000,87.480000

In [6]:
#converts string type to datetime format
ts_data['Date']= pd.to_datetime(ts_data['date']) 
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
date    1000 non-null object
AA      1000 non-null float64
AAPL    1000 non-null float64
GE      1000 non-null float64
IBM     1000 non-null float64
JNJ     1000 non-null float64
MSFT    1000 non-null float64
PEP     1000 non-null float64
SPX     1000 non-null float64
XOM     1000 non-null float64
Date    1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 86.0+ KB

In [7]:
# read csv by parsing dates
df = pd.read_csv('data/stock_data.csv', parse_dates=['date'], index_col=0)

In [8]:
df

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32
2007-11-05  35.22  186.18  34.15  105.48  56.70  33.77  64.84  1502.17  80.07
2007-11-06  35.84  191.79  34.14  105.27  56.80  33.47  65.49  1520.27  82.56
2007-11-07  34.76  186.30  33.20  103.69  56.19  32.65  64.46  1475.62  79.96
2007-11-08  35.00  175.47  33.15   99.05  56.79  31.94  65.50  1474.77  82.00
2007-11-09  34.47  165.37  32.61   93.58  57.29  31.01  65.48  1453.70  79.64
2007-11-12  33.33  153.76  32.50   94.70  58.30  30.69  64.67  1439.18  77.52
2007-11-13  34.04  169.96  33.31   98.27  59.18  31.79  65.35  1481.05  79.67
2007-11-14  34.25  166.11  33.14   96.56  58.81  31.30  65.99  1470.58  79.15
2007-11-15  33.76  164.30  32.55   96.71  58.80  31.14  65.57  1451.15  77.48
2007-11-16  33.74  166.39  32.84   97.82  59.56  31.44  66.08  1458.74  78.04
2007-11-19  32.59  163.95  32.42   95.42  59.42  31.32  66.90  1433.27  77.13
2007-11-20  32.88  168.85  32.32   96.54  59.47  31.90  66.69  1439.70  80.53
2007-11-21  32.68  168.46  31.58   95.42  59.03  31.57  66.87  1416.77  79.82
2007-11-23  32.66  171.54  32.01   97.13  59.16  31.46  67.29  1440.70  80.96
2007-11-26  32.41  172.54  31.21   95.19  59.60  30.41  66.56  1407.22  78.57
2007-11-27  32.56  174.81  31.82   96.92  59.92  30.49  67.65  1428.23  79.21
2007-11-28  33.65  180.22  32.68  100.23  60.46  31.08  68.76  1469.02  80.62
2007-11-29  33.97  184.29  32.40  100.35  60.51  30.98  68.20  1469.72  81.24
2007-11-30  33.80  182.22  32.53   98.18  59.93  30.99  68.78  1481.14  81.76
2007-12-03  32.98  178.86  31.38   98.79  59.90  30.36  68.24  1472.42  81.48
2007-12-04  32.76  179.81  30.80   99.54  60.10  30.23  68.30  1462.79  80.81
2007-12-05  33.09  185.50  31.19  100.97  60.34  31.50  68.30  1485.01  82.46
2007-12-06  33.32  189.95  31.66  102.40  60.42  31.87  68.98  1507.34  83.85
2007-12-07  34.30  194.30  31.63  101.62  59.87  31.85  68.95  1504.66  83.91
2007-12-10  35.17  194.21  31.78  102.11  59.97  32.06  69.20  1515.96  84.39
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-09-02  12.04  374.05  15.61  166.98  64.07  25.80  63.30  1173.97  72.14
2011-09-06  11.77  379.74  15.11  165.11  64.64  25.51  62.45  1165.24  71.15
2011-09-07  12.25  383.93  15.65  167.31  65.43  26.00  61.62  1198.62  73.65
2011-09-08  12.03  384.14  15.44  165.25  64.95  26.22  61.34  1185.90  72.82
2011-09-09  11.58  377.48  14.95  161.37  63.64  25.74  59.99  1154.23  71.01
2011-09-12  11.55  379.94  14.87  162.42  63.59  25.89  60.14  1162.27  71.84
2011-09-13  11.63  384.62  15.26  163.43  63.61  26.04  60.54  1172.87  71.65
2011-09-14  11.73  389.30  15.64  167.24  63.73  26.50  61.58  1188.68  72.64
2011-09-15  11.98  392.96  16.08  170.09  64.40  26.99  63.22  1209.11  74.01
2011-09-16  11.97  400.50  16.33  172.99  64.59  27.12  62.05  1216.01  74.55
2011-09-19  11.58  411.63  16.18  173.13  64.14  27.21  60.56  1204.09  73.70
2011-09-20  11.25  413.45  16.04  174.72  64.22  26.98  60.39  1202.09  74.01
2011-09-21  10.84  412.14  15.38  173.02  63.13  25.99  60.79  1166.76  71.97
2011-09-22  10.11  401.82  15.04  168.62  61.92  25.06  60.92  1129.56  69.24
2011-09-23  10.07  404.30  15.21  169.34  61.59  25.06  60.34  1136.43  69.31
2011-09-26  10.45  403.17  15.57  174.51  62.69  25.44  61.89  1162.95  71.72
2011-09-27  10.48  399.26  15.76  177.71  63.82  25.67  62.43  1175.38  72.91
2011-09-28   9.97  397.01  15.45  177.55  63.25  25.58  61.97  1151.06  72.07
2011-09-29  10.06  390.57  15.86  179.17  63.90  25.45  62.58  1160.40  73.88
2011-09-30   9.57  381.32  15.22  174.87  63.69  24.89  61.90  1131.42  72.63
2011-10-03   8.90  374.60  14.69  173.29  62.08  24.53  60.29  1099.23  71.15
2011-10-04   9.12  372.50  14.86  174.74  62.17  25.34  60.45  1123.95  72.83
2011-10-05   9.37  378.25  15.27  176.85  62.35  25.89  60.29  1144.03  73.95
2011-10-06   9.88  377.37  15.53  181.69  62.81  26.34  60.57  1164.97  73.89
2011-10-07   9.71  369.80  15.50  182.39  63.13  26.25  61.02  1155.46  73.56
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[1000 rows x 9 columns]

In [9]:
# getting data using date index
# [from 2008 october to 2009 january]
df['2008 10':'2009 01']

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2008-10-01  20.07  109.12  21.71  104.02  61.19  24.71  65.31  1161.06  73.06
2008-10-02  18.29  100.10  19.63   98.93  61.19  24.49  64.64  1114.28  72.06
2008-10-03  18.16   97.07  19.11   97.70  59.72  24.56  62.90  1099.23  72.47
2008-10-06  17.09   98.14  18.94   95.04  58.22  23.24  60.75  1056.89  71.89
2008-10-07  15.77   89.16  17.99   90.35  56.40  21.68  59.36   996.23  70.73
2008-10-08  13.88   89.79  18.30   85.53  56.29  21.47  57.99   984.94  71.60
2008-10-09  11.76   88.74  16.84   84.06  51.97  20.81  54.26   909.92  63.23
2008-10-10  10.62   96.80  19.05   82.88  50.41  20.06  52.69   899.22  57.98
2008-10-13  13.04  110.26  18.61   87.10  56.58  23.79  56.31  1003.35  67.95
2008-10-14  12.26  104.08  18.47   88.41  57.77  22.49  49.59   998.01  67.37
2008-10-15  10.69   97.95  17.06   83.39  54.64  21.14  46.72   907.84  57.97
2008-10-16  11.52  101.89  17.62   86.44  57.32  22.57  48.39   946.43  64.58
2008-10-17  11.14   97.40  17.39   85.75  56.55  22.33  49.12   940.55  63.26
2008-10-20  11.71   98.44  17.84   87.38  58.16  23.07  51.74   985.40  69.73
2008-10-21  11.47   91.49  18.03   83.93  57.46  21.80  50.14   955.05  66.48
2008-10-22   9.93   96.87  16.80   78.96  55.44  20.09  48.90   896.78  60.04
2008-10-23   9.43   98.23  16.66   79.67  56.37  20.83  48.75   908.11  65.45
2008-10-24   8.88   96.38  15.80   77.52  54.87  20.49  47.19   876.77  64.19
2008-10-27   8.53   92.09  15.71   75.24  54.29  19.76  46.94   848.92  61.45
2008-10-28  10.17   99.91  17.27   82.44  57.94  21.55  50.90   940.51  69.61
2008-10-29  10.52  104.55  17.01   83.31  55.54  21.46  50.14   930.09  69.41
2008-10-30  10.81  111.04  17.14   85.66  54.67  21.12  52.04   954.09  69.78
2008-10-31  10.85  107.59  17.29   87.81  55.37  20.84  51.97   968.75  68.92
2008-11-03  11.21  106.96  17.10   87.54  55.20  21.11  52.39   966.30  69.08
2008-11-04  11.77  110.99  18.40   88.22  55.86  21.96  53.18  1005.75  72.05
2008-11-05  11.29  103.30  17.66   84.95  54.02  20.60  51.97   952.77  68.52
2008-11-06   9.82   99.10  16.25   80.88  52.28  19.48  50.00   904.88  65.05
2008-11-07  10.71   98.24  16.71   81.94  54.35  20.06  50.47   930.99  69.15
2008-11-10  11.27   95.88  16.35   79.66  54.17  19.87  49.78   919.21  69.22
2008-11-11  10.47   94.77  15.78   78.59  53.75  19.78  50.21   898.95  67.94
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2008-12-17   9.90   89.16  15.41   81.53  53.50  18.47  49.92   904.42  75.80
2008-12-18   9.35   89.43  14.14   79.79  53.69  18.13  50.27   885.28  72.01
2008-12-19   9.28   90.00  14.62   79.33  53.55  17.96  49.70   887.88  70.16
2008-12-22   8.83   85.74  14.24   77.88  53.63  18.02  49.39   871.63  70.05
2008-12-23   9.16   86.38  14.56   76.56  53.40  18.11  49.77   863.16  70.23
2008-12-24   8.98   85.04  14.55   76.48  53.30  18.01  50.11   868.15  70.87
2008-12-26   9.36   85.81  14.42   77.25  53.30  17.97  50.13   872.80  72.18
2008-12-29   9.31   86.61  14.14   77.17  52.92  17.81  49.68   869.42  72.96
2008-12-30  10.23   86.29  14.29   79.36  53.85  18.17  50.42   890.64  73.49
2008-12-31  10.77   85.35  14.63   79.94  54.45  18.26  50.32   903.25  74.65
2009-01-02  11.59   90.75  15.42   82.99  55.20  19.10  51.42   931.80  76.35
2009-01-05  11.35   94.58  15.02   82.46  54.65  19.28  51.09   927.45  76.34
2009-01-06  11.60   93.02  15.23   84.75  54.32  19.50  51.18   934.70  75.09
2009-01-07  10.42   91.01  14.55   83.39  53.81  18.33  49.51   906.65  73.18
2009-01-08  10.87   92.70  14.58   82.81  53.71  18.90  48.93   909.73  73.96
2009-01-09  10.34   90.58  14.45   80.45  53.74  18.34  48.30   890.35  72.54
2009-01-12   9.63   88.66  14.30   81.41  53.10  18.29  47.22   870.26  71.58
2009-01-13   9.14   87.71  13.49   81.06  53.55  18.62  47.99   871.79  72.87
2009-01-14   8.64   85.33  12.74   79.02  52.74  17.93  46.95   842.62  70.23
2009-01-15   8.97   83.38  12.44   79.90  52.44  18.07  46.43   843.74  71.69
2009-01-16   9.02   82.33  12.61   80.66  52.28  18.52  47.20   850.12  73.04
2009-01-20   7.99   78.20  11.68   77.87  51.65  17.36  46.33   805.22  71.34
2009-01-21   8.19   82.83  11.77   86.83  51.29  18.21  46.34   840.24  74.12
2009-01-22   7.89   88.36  12.17   85.55  51.76  16.07  46.26   827.50  73.16
2009-01-23   7.97   88.36  10.86   85.00  50.94  16.16  46.51   831.95  72.98
2009-01-26   7.99   89.64  11.22   87.00  51.47  16.56  47.24   836.57  73.50
2009-01-27   8.24   90.73  11.79   87.06  52.37  16.59  47.45   845.71  73.80
2009-01-28   8.37   94.20  12.19   90.06  53.30  16.95  47.81   874.09  74.11
2009-01-29   8.08   93.00  11.49   87.87  53.04  16.52  47.48   845.14  72.01
2009-01-30   7.45   90.13  10.95   87.05  52.50  16.06  46.15   825.88  71.52

[84 rows x 9 columns]

In [10]:
# Truncates a sorted DataFrame/Series before and/or after some
# particular index value. If the axis contains only datetime values,
# before/after parameters are converted to datetime values.
df.truncate?

In [11]:
df.truncate(before='2008 10', after='2009')

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2008-10-01  20.07  109.12  21.71  104.02  61.19  24.71  65.31  1161.06  73.06
2008-10-02  18.29  100.10  19.63   98.93  61.19  24.49  64.64  1114.28  72.06
2008-10-03  18.16   97.07  19.11   97.70  59.72  24.56  62.90  1099.23  72.47
2008-10-06  17.09   98.14  18.94   95.04  58.22  23.24  60.75  1056.89  71.89
2008-10-07  15.77   89.16  17.99   90.35  56.40  21.68  59.36   996.23  70.73
2008-10-08  13.88   89.79  18.30   85.53  56.29  21.47  57.99   984.94  71.60
2008-10-09  11.76   88.74  16.84   84.06  51.97  20.81  54.26   909.92  63.23
2008-10-10  10.62   96.80  19.05   82.88  50.41  20.06  52.69   899.22  57.98
2008-10-13  13.04  110.26  18.61   87.10  56.58  23.79  56.31  1003.35  67.95
2008-10-14  12.26  104.08  18.47   88.41  57.77  22.49  49.59   998.01  67.37
2008-10-15  10.69   97.95  17.06   83.39  54.64  21.14  46.72   907.84  57.97
2008-10-16  11.52  101.89  17.62   86.44  57.32  22.57  48.39   946.43  64.58
2008-10-17  11.14   97.40  17.39   85.75  56.55  22.33  49.12   940.55  63.26
2008-10-20  11.71   98.44  17.84   87.38  58.16  23.07  51.74   985.40  69.73
2008-10-21  11.47   91.49  18.03   83.93  57.46  21.80  50.14   955.05  66.48
2008-10-22   9.93   96.87  16.80   78.96  55.44  20.09  48.90   896.78  60.04
2008-10-23   9.43   98.23  16.66   79.67  56.37  20.83  48.75   908.11  65.45
2008-10-24   8.88   96.38  15.80   77.52  54.87  20.49  47.19   876.77  64.19
2008-10-27   8.53   92.09  15.71   75.24  54.29  19.76  46.94   848.92  61.45
2008-10-28  10.17   99.91  17.27   82.44  57.94  21.55  50.90   940.51  69.61
2008-10-29  10.52  104.55  17.01   83.31  55.54  21.46  50.14   930.09  69.41
2008-10-30  10.81  111.04  17.14   85.66  54.67  21.12  52.04   954.09  69.78
2008-10-31  10.85  107.59  17.29   87.81  55.37  20.84  51.97   968.75  68.92
2008-11-03  11.21  106.96  17.10   87.54  55.20  21.11  52.39   966.30  69.08
2008-11-04  11.77  110.99  18.40   88.22  55.86  21.96  53.18  1005.75  72.05
2008-11-05  11.29  103.30  17.66   84.95  54.02  20.60  51.97   952.77  68.52
2008-11-06   9.82   99.10  16.25   80.88  52.28  19.48  50.00   904.88  65.05
2008-11-07  10.71   98.24  16.71   81.94  54.35  20.06  50.47   930.99  69.15
2008-11-10  11.27   95.88  16.35   79.66  54.17  19.87  49.78   919.21  69.22
2008-11-11  10.47   94.77  15.78   78.59  53.75  19.78  50.21   898.95  67.94
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2008-11-18   9.07   89.91  14.23   76.06  54.96  18.43  48.44   859.12  71.38
2008-11-19   7.81   86.29  12.80   72.16  52.46  17.18  47.50   806.58  68.66
2008-11-20   6.55   80.49  11.38   68.14  50.37  16.47  45.85   752.44  64.07
2008-11-21   8.08   82.58  12.43   71.12  53.10  18.49  49.77   800.03  70.89
2008-11-24   8.76   92.95  13.52   75.88  53.80  19.44  50.74   851.81  73.69
2008-11-25   9.28   90.80  13.97   76.60  53.42  18.78  49.23   857.39  73.05
2008-11-26  10.03   95.00  14.34   77.57  53.03  19.25  50.08   887.68  75.64
2008-11-28  10.30   92.67  15.21   77.51  53.31  18.99  51.69   896.24  74.95
2008-12-01   8.91   88.93  13.73   73.04  50.36  17.48  48.90   816.21  69.49
2008-12-02   9.34   92.47  15.60   75.83  51.72  17.99  49.64   848.81  72.58
2008-12-03   8.89   95.90  16.06   76.62  52.17  18.67  49.69   870.74  73.81
2008-12-04   7.71   91.41  15.55   73.55  51.13  17.95  48.08   845.22  71.32
2008-12-05   7.80   94.00  15.82   76.55  53.00  18.67  49.04   876.07  71.63
2008-12-08   9.17   99.72  16.73   80.60  53.49  19.74  49.25   909.70  74.44
2008-12-09   9.14  100.06  15.75   78.54  52.61  19.35  48.03   888.67  73.13
2008-12-10   9.76   98.21  15.95   78.70  52.60  19.36  48.71   899.24  74.88
2008-12-11   9.55   95.00  15.11   76.54  53.01  18.27  48.43   873.59  74.83
2008-12-12   9.64   98.27  15.16   78.08  52.10  18.19  47.80   879.73  75.23
2008-12-15   9.48   94.75  15.02   78.62  52.61  17.89  48.16   868.57  74.77
2008-12-16   9.94   95.43  15.88   82.06  54.24  18.89  49.81   913.18  77.75
2008-12-17   9.90   89.16  15.41   81.53  53.50  18.47  49.92   904.42  75.80
2008-12-18   9.35   89.43  14.14   79.79  53.69  18.13  50.27   885.28  72.01
2008-12-19   9.28   90.00  14.62   79.33  53.55  17.96  49.70   887.88  70.16
2008-12-22   8.83   85.74  14.24   77.88  53.63  18.02  49.39   871.63  70.05
2008-12-23   9.16   86.38  14.56   76.56  53.40  18.11  49.77   863.16  70.23
2008-12-24   8.98   85.04  14.55   76.48  53.30  18.01  50.11   868.15  70.87
2008-12-26   9.36   85.81  14.42   77.25  53.30  17.97  50.13   872.80  72.18
2008-12-29   9.31   86.61  14.14   77.17  52.92  17.81  49.68   869.42  72.96
2008-12-30  10.23   86.29  14.29   79.36  53.85  18.17  50.42   890.64  73.49
2008-12-31  10.77   85.35  14.63   79.94  54.45  18.26  50.32   903.25  74.65

[64 rows x 9 columns]

In [12]:
# parsing date from multiple columns
pd.read_csv('data/sample_2.csv').head()

   year  month  day    random
0  2018     11    1 -0.803908
1  2018     11    2  1.586827
2  2018     11    3  0.224112
3  2018     11    4 -0.715937
4  2018     11    5  0.010597

In [13]:
# combining all date columns to get date
pd.read_csv('data/sample_2.csv', parse_dates={'date':[0,1,2]}, index_col='date').head()

              random
date
2018-11-01 -0.803908
2018-11-02  1.586827
2018-11-03  0.224112
2018-11-04 -0.715937
2018-11-05  0.010597

## dateparser

In [14]:
pd.read_csv('data/sample.csv')

                    x    random
0   2018-11-01T0-10-1 -0.803908
1   2018-11-02T3-45-3  1.586827
2  2018-11-03T0-34-10  0.224112
3   2018-11-04T11-3-4 -0.715937

In [15]:
pd.read_csv('data/sample.csv', parse_dates= ['x']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
x         4 non-null object
random    4 non-null float64
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes

In [16]:
from datetime import datetime

In [17]:
datetime.strptime('2018-11-01T12-12-00', '%Y-%m-%dT%H-%M-%S')

datetime.datetime(2018, 11, 1, 12, 12)

In [18]:
# Specifying the format to parse the datetime
# Find out various format specifiers here (https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)
def dateparse(x):
    return datetime.strptime(x, '%Y-%m-%dT%H-%M-%S')

In [19]:
#pd.Timestamp('2018-11-01T0-10-1')

In [20]:
dateparse('2018-11-01T0-10-1')

datetime.datetime(2018, 11, 1, 0, 10, 1)

In [21]:
pd.read_csv('data/sample.csv', parse_dates=['x'], date_parser=dateparse)

                    x    random
0 2018-11-01 00:10:01 -0.803908
1 2018-11-02 03:45:03  1.586827
2 2018-11-03 00:34:10  0.224112
3 2018-11-04 11:03:04 -0.715937

## Write data

In [22]:
# Creating date index with start and end having frequency of second
date_index = pd.date_range(start='20181217', freq='S', end='20181221')

In [23]:
len(date_index)

345601

In [24]:
# Generated Index
date_index

DatetimeIndex(['2018-12-17 00:00:00', '2018-12-17 00:00:01',
               '2018-12-17 00:00:02', '2018-12-17 00:00:03',
               '2018-12-17 00:00:04', '2018-12-17 00:00:05',
               '2018-12-17 00:00:06', '2018-12-17 00:00:07',
               '2018-12-17 00:00:08', '2018-12-17 00:00:09',
               ...
               '2018-12-20 23:59:51', '2018-12-20 23:59:52',
               '2018-12-20 23:59:53', '2018-12-20 23:59:54',
               '2018-12-20 23:59:55', '2018-12-20 23:59:56',
               '2018-12-20 23:59:57', '2018-12-20 23:59:58',
               '2018-12-20 23:59:59', '2018-12-21 00:00:00'],
              dtype='datetime64[ns]', length=345601, freq='S')

In [25]:
# Creating the dataframe with the above generated index
df = pd.DataFrame(data=np.random.randint(0,100, len(date_index)), index=date_index)

In [26]:
#changing name of the coloumn 
df.columns = ['Value']

In [27]:
#df.head()

In [28]:
# Exporting data to csv
df.to_csv('data/test_data.csv')