In [49]:
import pandas as pd
import numpy as np

# Dealing with Datetime

In [50]:
# Get the information of the datetime method 
pd.datetime?

In [51]:
#Converts to python datetime object
pd.datetime(2018, 12, 13)

datetime.datetime(2018, 12, 13, 0, 0)

In [52]:
d1 = pd.datetime(2018, 12, 13)

In [53]:
type(d1)

datetime.datetime

In [54]:
d1.month

12

In [55]:
#d1.utcnow()

In [56]:
d1.now()

datetime.datetime(2019, 7, 30, 23, 32, 28, 520392)

## Timestamp
   * In pandas, a single point in time is represented as a timestamp.
   * We can use the to_datetime() function to create timestamps from strings in a wide variety of date/time formats.

In [57]:
# TimeStamp is the pandas equivalent of python's Datetime
# and is interchangable with it in most cases. It's the type used
# for the entries that make up a DatetimeIndex, and other timeseries
# oriented data structures in pandas.
pd.Timestamp?

In [58]:
pd.Timestamp('2018 12 13')

Timestamp('2018-12-13 00:00:00')

In [59]:
pd.Timestamp('20181213 11:12:12.000000')

Timestamp('2018-12-13 11:12:12')

In [60]:
t1 = pd.Timestamp('2018 12 13')

In [61]:
#Timestamp Object
type(t1)

pandas._libs.tslib.Timestamp

In [62]:
# All the available methods and variables available for t1 object
dir(t1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_repr',
 '_get_field',
 '_get_start_end_field',
 '_has_time_component',
 '_repr_base',
 '_round',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'nanosecond',
 'normalize',
 'now',
 'offset',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime',
 'to_datetime64',
 'to_julian_date',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'year']

In [63]:
# try out above mentioned methods
t1.to_datetime64()

numpy.datetime64('2018-12-13T00:00:00.000000000')

In [64]:
# To convert a Series or list-like object to Timestamps  
# you can use the to_datetime function.

pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None])) #passing a series

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [65]:
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))[0]

Timestamp('2009-07-31 00:00:00')

In [66]:
pd.to_datetime(['2005/11/23', '2010.12.31']) #passing a list of dates

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [67]:
# If we give a single date
pd.to_datetime('1 7 2018')

Timestamp('2018-01-07 00:00:00')

In [68]:
# We can also use DataTimeIndex Constructor Directly to create Index
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'])

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], dtype='datetime64[ns]', freq=None)

In [69]:
# The string ‘infer’ can be passed in order to set the frequency of the index as the inferred frequency upon creation
pd.DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], freq='infer')

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], dtype='datetime64[ns]', freq='2D')

In [70]:
#Creating a DatetimeIndex list
index_list = pd.DatetimeIndex(['2018-01-01 00:12', '2018-01-03', '2018-01-05'])

In [71]:
index_list

DatetimeIndex(['2018-01-01 00:12:00', '2018-01-03 00:00:00',
               '2018-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [72]:
pd.DataFrame(data=np.arange(3), index=index_list, columns=['range'])

                     range
2018-01-01 00:12:00      0
2018-01-03 00:00:00      1
2018-01-05 00:00:00      2

## Date range

In [73]:
#Let's have a look at the doc string
# Return a fixed frequency DatetimeIndex, with day (calendar) as the default frequency
pd.date_range?

In [74]:
# Of the three parameters: ``start``, ``end``, and ``periods``, exactly two must be specified.
pd.date_range(start='20181201', freq='D', periods=30,normalize=True)

DatetimeIndex(['2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04',
               '2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08',
               '2018-12-09', '2018-12-10', '2018-12-11', '2018-12-12',
               '2018-12-13', '2018-12-14', '2018-12-15', '2018-12-16',
               '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
               '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24',
               '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
               '2018-12-29', '2018-12-30'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range(start='20181201', end='20281231', freq='M')

DatetimeIndex(['2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31',
               '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
               '2019-08-31', '2019-09-30',
               ...
               '2028-03-31', '2028-04-30', '2028-05-31', '2028-06-30',
               '2028-07-31', '2028-08-31', '2028-09-30', '2028-10-31',
               '2028-11-30', '2028-12-31'],
              dtype='datetime64[ns]', length=121, freq='M')

In [76]:
# Frequency can also be specified using offsets
pd.date_range(start='20181201', end='20281231', freq=pd.offsets.MonthEnd(2))

DatetimeIndex(['2018-12-31', '2019-02-28', '2019-04-30', '2019-06-30',
               '2019-08-31', '2019-10-31', '2019-12-31', '2020-02-29',
               '2020-04-30', '2020-06-30', '2020-08-31', '2020-10-31',
               '2020-12-31', '2021-02-28', '2021-04-30', '2021-06-30',
               '2021-08-31', '2021-10-31', '2021-12-31', '2022-02-28',
               '2022-04-30', '2022-06-30', '2022-08-31', '2022-10-31',
               '2022-12-31', '2023-02-28', '2023-04-30', '2023-06-30',
               '2023-08-31', '2023-10-31', '2023-12-31', '2024-02-29',
               '2024-04-30', '2024-06-30', '2024-08-31', '2024-10-31',
               '2024-12-31', '2025-02-28', '2025-04-30', '2025-06-30',
               '2025-08-31', '2025-10-31', '2025-12-31', '2026-02-28',
               '2026-04-30', '2026-06-30', '2026-08-31', '2026-10-31',
               '2026-12-31', '2027-02-28', '2027-04-30', '2027-06-30',
               '2027-08-31', '2027-10-31', '2027-12-31', '2028-02-29',
               '2028-04-30', '2028-06-30', '2028-08-31', '2028-10-31',
               '2028-12-31'],
              dtype='datetime64[ns]', freq='2M')

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [77]:
range_df = pd.DataFrame(data=np.random.randint(0, 100, 300), 
             index=pd.date_range('20181201', freq='H', periods=300, name='date'), 
             columns=['values'])

In [78]:
range_df.head()

                     values
date
2018-12-01 00:00:00      76
2018-12-01 01:00:00      21
2018-12-01 02:00:00      93
2018-12-01 03:00:00      81
2018-12-01 04:00:00      48

Date Offsets can be found here :
* https://pandas.pydata.org/pandas-docs/version/0.12/timeseries.html#dateoffset-objects

## Period 
* A Period represents a span of time (e.g., a day, a month, a quarter, etc). You can specify the span via freq keyword using a frequency alias like below.

In [79]:
pd.Period?

In [80]:
#Converts string to a Period object
pd.Period('2018 12')

Period('2018-12', 'M')

In [81]:
pd.Period('2018 12 12')

Period('2018-12-12', 'D')

In [82]:
tp = pd.Period('2018 12')

In [83]:
tp.daysinmonth

31

In [84]:
# Adding and subtracting integers from periods shifts the period by its own frequency. 
# Arithmetic is not allowed between Period with different freq (span).

print(tp-1, tp+1)

2018-11 2019-01

In [85]:
# PeriodIndex can be constructed using period_range, with day (calendar) as the default frequency
pd.period_range?

In [86]:
pd.period_range(start='2018 01', freq='H', periods=10)

PeriodIndex(['2018-01-01 00:00', '2018-01-01 01:00', '2018-01-01 02:00',
             '2018-01-01 03:00', '2018-01-01 04:00', '2018-01-01 05:00',
             '2018-01-01 06:00', '2018-01-01 07:00', '2018-01-01 08:00',
             '2018-01-01 09:00'],
            dtype='period[H]', freq='H')

In [87]:
# Period Index can also be used directly
pd.PeriodIndex(['2011-1', '2011-2', '2011-3'], freq='M')

PeriodIndex(['2011-01', '2011-02', '2011-03'], dtype='period[M]', freq='M')

In [88]:
#PeriodIndex supports addition and subtraction with the same rule as Period.

idx = pd.period_range('2014-07-01 09:00', periods=5, freq='H')
idx+2

PeriodIndex(['2014-07-01 11:00', '2014-07-01 12:00', '2014-07-01 13:00',
             '2014-07-01 14:00', '2014-07-01 15:00'],
            dtype='period[H]', freq='H')

In [89]:
pd.DataFrame(data=np.arange(10), 
            index=pd.period_range(start='2018 01', freq='H', periods=10,name='period'),
            columns=['value'])

                  value
period
2018-01-01 00:00      0
2018-01-01 01:00      1
2018-01-01 02:00      2
2018-01-01 03:00      3
2018-01-01 04:00      4
2018-01-01 05:00      5
2018-01-01 06:00      6
2018-01-01 07:00      7
2018-01-01 08:00      8
2018-01-01 09:00      9

## Time Delta
    Timedeltas are differences in times, expressed in difference units, e.g. days, hours, minutes, seconds. They can be both positive and negative.

In [90]:
pd.Timedelta?

In [91]:
pd.Timedelta('20m')

Timedelta('0 days 00:20:00')

In [92]:
pd.Timedelta('1d')

Timedelta('1 days 00:00:00')

In [93]:
# We can add Two Timedelta
pd.Timedelta('1d') + pd.Timedelta('20m')

Timedelta('1 days 00:20:00')

In [94]:
# We can add time delta to a timestamp
pd.Timestamp('2018 01') + pd.Timedelta('17 m')

Timestamp('2018-01-01 00:17:00')

In [95]:
#Using the top-level pd.to_timedelta, you can convert a scalar, array, list, or Series 
#from a recognized timedelta format / value into a Timedelta type. 
#It will construct Series if the input is a Series, a scalar if the input is scalar-like, 
# otherwise it will output a TimedeltaIndex.
pd.to_timedelta('1 days 06:05:01.00003')

Timedelta('1 days 06:05:01.000030')

In [96]:
pd.to_timedelta(['1 days 06:05:01.00003', '15.5us', 'nan'])

TimedeltaIndex(['1 days 06:05:01.000030', '0 days 00:00:00.000015', NaT], dtype='timedelta64[ns]', freq=None)

## Time Zones

Helps to convert to the specific timezone

In [97]:
from pytz import common_timezones

In [98]:
#common_timezones

In [99]:
[x for x in common_timezones if 'Asia' in x and 'Kolkata' in x]

['Asia/Kolkata']

In [100]:
t1 = pd.Timestamp('2018 12 01', tz='UTC')

In [101]:
t1

Timestamp('2018-12-01 00:00:00+0000', tz='UTC')

In [102]:
t1.tz_convert('Asia/Kolkata')

Timestamp('2018-12-01 05:30:00+0530', tz='Asia/Kolkata')